/* index */
.front__wrapper {
  min-height: 555px;
  border-radius: 10%;
  background-color: #5c3535;
  color: rgb(223, 188, 188) !important;
  margin: 35px;
}
.front__heading1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px 0 20px;
  margin: 0;
}
.front__heading2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
  text-align: center;
  padding: 20px 0 0;
  margin: 0;
}
.front__text1 {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}
.front__text2  {
  text-align: center;
  font-size: 20px;
  padding: 0 0 10px;
  margin: 0 auto;
}
.front__link {
  color:  rgb(174, 184, 184);
  text-decoration: none;
}
.front__figure {
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}
.front__figure img {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(174, 184, 184);
  border-radius: 20%;
}
/* index */

/* home.html */
html, body {
background-color: rgb(153, 158, 158);
/* min-height: 100px; */
width: auto;
height: auto;
}
.page__wrapper {
  padding: 0 60px 60px;
}
.page__heading {
  text-align: center; 
  font-size: 25px; 
  letter-spacing: 2px;
}
.text {
  font-size: 20px;
  padding: 0 0 20px;
  margin: 0;
}
.button {
  width: 60px;
  padding: 20px 0;
}
.button__link {
  width: 60px;
  height: 20px;
  text-align: center;
  border: 2px solid #492828;
  color: #1d6d2a;
  background-color: rgb(184, 190, 190);
  padding: 5px;
  margin: 0;
}
.button__link:hover {
  color: rgb(202, 122, 31);
}
/* link styles */
a:hover{
  text-decoration: none;
  color: rgb(202, 122, 31);
}
/* :active {
  border-bottom: #492828;
} 
:visited {

} */
.text__link {
  text-decoration: none;
}
.link__here {
  color: #5c3535;
  }
/* link styles */
header {
  position: sticky;
  background-color: rgb(153, 158, 158);
  padding: 0;
}

.nav__wrapper {
  min-height: 140px;
  position: sticky;
  font-weight:bold; 
  background-color: rgb(153, 158, 158);
  /* padding: 0 60px; */

}
/* link styles */
a:hover{
  text-decoration: none;
  color: rgb(202, 122, 31);
}
/* :active {
  border-bottom: #492828;
} 
:visited {
} */
.text__link {
  text-decoration: none;
}
.link__here {
  color: #5c3535;
  }
/* link styles */

.nav1 {
  background-color: rgb(153, 158, 158);  
  padding: 0 60px;
}

.nav1__list {
  color: #000000;
  font-weight: bold;
  list-style: none;
  letter-spacing: 2px;
  padding-left: 0;
  margin: 0;
}
.nav1__wrapper {
  padding: 60px;
  margin: 0;
}

/* float fix */
.nav1__list:before,
.nav1__list:after {
  content: "";
  display: table;
  clear: both;
}

.nav1__list li {
  display: inline-block;
}

.nav1__left {
  width: 400px;
  float: left;
}
.logo__header {
  text-align: center;
}
.nav1__right {
  width: 300px;
  float: right;
}

.nav1__link {
  color: #222222;
  display: block;
  padding: 10px 12px;
  text-decoration: none;
}
.nav__menulink {
  color: #222222;
  display: block;
  padding: 10px 12px 10px 0;
  text-decoration: none;
}



.nav__logo {
  width: 300px;
  height: 60px;
  text-align: center;
  padding: 30px 60px;
}
.logo {
  color: rgb(153, 158, 158);
  text-decoration: none;
  padding: 20px;
}
.nav__header {
  height: 60px;
  border-radius: 10%;
  background-color: #492828;
  text-align: center;
}
.nav__text {
  color: rgb(13, 14, 14);
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px;
  text-shadow: #492828;
}.main__wrapper {
  /* min-height: 555px; */
  background-color: rgb(153, 158, 158);  
  padding: 0 60px 60px;
}
.welcome__text1 {
  font-size: 20px;
  letter-spacing: 2px;
  padding: 20px 0;
  margin: 0;
}
.welcome__text2 {
  font-size: 20px;
  padding: 20px 0;
  margin: 0;
}
.row {
  display: flex;
  justify-content: space-between;

}
.column {
  flex: 50%;
  /* width: 420px; */
  padding: 60px;
}
.card__wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* height: 300px; */
  /* text-align: center; */
  align-content: center;
  padding: 60px;
}
.card {
  width: 400px;
  height: 250px;
  background-color: rgb(184, 190, 190);
  border: 10px solid #5c3535;
  border-radius: 10%;
  box-shadow: 0 5px #666;
  margin: 0;
}
.card__content {
  /* width: 100%; */
  height: 100%;
  text-align: left;
  padding: 0 20px 20px;
}
.card__title {
  text-align: center;
  padding: 20px 0 0;
  margin: 0 auto;
}
.myprojects {
  padding: 0 20px;
}
.project__text {
  color: #000000;
}
/* home.html */


/* about styles */
.about__text {
  padding: 0 0 60px;
}
/* about styles */


/* contact */

.form__length {
width: 350px;
}
.contact__one {
list-style-type: none;
letter-spacing: 2px;
padding: 0 60px 60px;
}
.contact__two {
list-style-type: none;
padding: 0 60px 60px;
}
.contact__three {
padding: 20px 20px 0;
}
.contact__placeholder {
  text-align: center;
  padding: 5px;
}
.contact__form {
  width: 400px;
}
/* contact */

/* about */
.about__figure {
height: 200px;
width: 200px;
text-align: left;
margin: 0;
}
.about__figure img {
height: 100%;
width: 100%;
border: 2px solid #5c3535;
border-radius: 20%;
}
/* about */


/* hire me */
.note {
  color: #5c3535;
  font-size: 15px !important;
  text-align: justify;
}
.input__size {
  width: 420px;
  height: 20px;
  padding: 2px 0;
  margin: 5px 0;
}
.select__option {
  height: 30px;
  margin: 2px;
}
.textarea {
  width: 420px;
  height: 50px;
  margin: 5px 0;
  /* columns: 400px; */
  /* grid-auto-rows: 10px; */
}
.form__wrap {
  padding: 0 60px;
}
.check__box {
  padding: 0 0 20px;
  margin: 0;
}
.submit {
  width: 60px;
  height: 30px;
  text-align: center;
}
/* hire me */


/* aside */
.sidebar {
  width: 290px;
  position: fixed;
  top: 0;
  height: 100%;
  background: #EEEE;
  right: 0;
  opacity: 0.75;
  z-index: 10;
  transition: 1s cubic-bezier(0.25, 0.1, 0.24, 0.76);
}
.show {
  transform: translate(300px);
}
.card__aside {
  width: 250px;
  height: 300px;
  background-color: rgb(184, 190, 190);
  border: 10px solid #5c3535;
  border-radius: 10%;
  margin: 20px 10px;
}
.card__asidecontent {
  width: 210px;
  height: 280px;
  text-align: left;
  padding: 0 20px 20px;
}
/* aside */
/* footer */
.footer {
  width: 100%;
  height: 60px;
  background-color: #492828;
}
.copyright {
  color: rgb(153, 158, 158);
  text-align: center;
  padding: 20px;
}
/* footer */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
}